{{!-- take advantage of CSS flex property --}}
<div class="sidebar-nav-wrapper">

  {{!-- sidebar --}}
  <div class="sidebar-nav-sidebar">
  
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">Agent</p>
      <li>
        {{#link-to "agent"}}
          <div class="label"><small>{{agent.id}}</small></div>
        {{/link-to}}
      </li>
    </ul>
    
    <hr>
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">Manage</p>
      <li>
        <div class="label">Backups</div>
        <div class="label">
          {{#link-to "agent.snapshot"}}Snapshots{{/link-to}}
        </div>
        <div class="label">Networking</div>
        <div class="label">Services</div>
      </li>
    </ul>
    
    <ul class="list-unstyled sidebar-nav-subheading">
      <p class="d-none d-sm-block">Discover</p>
      <li>
        <span class="label">
          {{#link-to "agent.services"}}Marketplace{{/link-to}}
        </span>
      </li>
    </ul>
  </div>
  
  <div class="sidebar-nav-content">
    {{yield}}
  </div>
  
</div>
