{{!-- take advantage of CSS flex property --}}
<div class="sidebar-nav-wrapper">

  {{!-- sidebar --}}
  <div class="sidebar-nav-sidebar">
  
  
    <SidebarCloudBlock/>
    
  </div>
    
  <div class="sidebar-nav-content">
    {{yield}}
  </div>
  
</div>
