<ul class="list-unstyled sidebar-nav-subheading">
  <p class="d-none d-sm-block">
    {{#link-to "agent"}}
      Agent
    {{/link-to}}
  </p>
  <li>
    <div class="label">
      {{#link-to "agent.accounts"}}
        Accounts
        <span class="badge badge-secondary">{{agent.accounts.length}}</span>
      {{/link-to}}
    </div>
    <div class="label">
      {{#link-to "agent.domains"}}
        Domains
        <span class="badge badge-secondary">{{agent.domains.length}}</span>
      {{/link-to}}
    </div>
    <div class="label">
      {{#link-to "agent.endpoints"}}
        Endpoints
        <span class="badge badge-secondary">{{agent.endpoints.length}}</span>
      {{/link-to}}
    </div>
    <div class="label">
      {{#link-to "agent.snapshots"}}
        Snapshots
        <span class="badge badge-secondary">{{agent.snapshots.length}}</span>
      {{/link-to}}
    </div>
  </li>
</ul>
