<ul class="list-unstyled sidebar-nav-subheading">
  <p class="d-none d-sm-block">Cloud</p>
  <li>
    <div class="label">
      {{#link-to "agents"}}
        Agents
      {{/link-to}}
    </div>
    {{!-- <div class="label">Backups</div> --}}
    <div class="label">
      {{#link-to "snapshots"}}
        Snapshots
      {{/link-to}}
    </div>
    {{!-- <div class="label">API Keys</div> --}}
  </li>
</ul>
