<ul class="list-unstyled sidebar-nav-subheading">
  <p class="d-none d-sm-block">
    {{#link-to "agent.service-instance"}}
      Service Instance
    {{/link-to}}
  </p>
  <li>
    <div class="label">
      {{#link-to "agent.service-instance.accounts"}}
        Accounts
        <span class="badge badge-secondary">{{serviceInstance.accounts.length}}</span>
      {{/link-to}}
    </div>
    <div class="label">
      {{#link-to "agent.service-instance.domains"}}
        Domains
        <span class="badge badge-secondary">{{serviceInstance.domains.length}}</span>
      {{/link-to}}
    </div>
    <div class="label">Networking</div>
  </li>
</ul>
