<div class="container">
  <h2>Agents</h2>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Created</th>
    </thead>
    <tbody>
      {{#each model as |agent|}}
        <tr>
          {{#link-to "agent" agent}}{{agent.id}}{{/link-to}}
          <td>{{moment agent.createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}