<div class="container">

  <h4>Step 1: Install the On-Prem agent</h4>
  
  <BsTab as |tab|>
    <tab.pane @title="MSQL">
      <CodeBlock>
        $ sudo yum install (TODO: on-prem-msqld)
      </CodeBlock>
    </tab.pane>
    {{!--
    <tab.pane @title="Email">
      <CodeBlock>
        $ sudo yum install (TODO: on-prem-emaild)
      </CodeBlock>
    </tab.pane>
    --}}
  </BsTab>


  <h4>Step 2: Examine log to determine agent's node id</h4>
  <p>blah...</p>
  
  <BsTab as |tab|>
    <tab.pane @title="MSQL">
      <CodeBlock>
        $ journalctl -u on-prem-msqld
        (timestamp) INFO On-Prem MSQL service started
        (timestamp) INFO Node id is u275l3hblmvu2345jj89
      </CodeBlock>
    </tab.pane>
    {{!--
    <tab.pane @title="Email">
      <CodeBlock>
        $ journalctl -u on-prem-emaild
        (timestamp) INFO On-Prem Email service started
        (timestamp) INFO Node id is u275l3hblmvu2345jj89
      </CodeBlock>
    </tab.pane>
    --}}
  </BsTab>

  
  <h4>Step 3: Claim the agent</h4>
  <p>
    Enter your agent's node id into this form to claim it.
  </p>

  
  <form {{action "claimAgent" model on="submit"}}>
    <div class="form-group">
      <label for="nodeID">Node ID</label>
      {{input id="nodeID" type="text" class="form-control" placeholder="Enter node ID" value=model.id}}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{outlet}}