<AgentSidebar @agent={{model}}>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Agent
      </li>
    </ol>
  </nav>

  <div class="row justify-content-center">
  
    <div class="col-xs-6 col-sm-2">
      {{#link-to "agent.accounts" class="text-decoration-none"}}
        <div class="card">
          <div class="card-header text-center">Accounts</div>
          <div class="card-body">
            <h5 class="card-title text-center">{{model.accounts.length}}</h5>
          </div>
        </div>
      {{/link-to}}
    </div>
    
    <div class="col-xs-6 col-sm-2">
      {{#link-to "agent.domains" class="text-decoration-none"}}
        <div class="card">
          <div class="card-header text-center">Domains</div>
          <div class="card-body">
            <h5 class="card-title text-center">{{model.domains.length}}</h5>
          </div>
        </div>
      {{/link-to}}
    </div>
  
    <div class="col-xs-6 col-sm-2">
      {{#link-to "agent.endpoints" class="text-decoration-none"}}
        <div class="card">
          <div class="card-header text-center">Endpoints</div>
          <div class="card-body">
            <h5 class="card-title text-center">{{model.endpoints.length}}</h5>
          </div>
        </div>
      {{/link-to}}
    </div>
  
  </div>
</AgentSidebar>
