<ServiceInstanceSidebar @serviceInstance={{model}}>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Agent</li>
      <li class="breadcrumb-item">
        {{#link-to "agent"}}{{model.agent.id}}{{/link-to}}
      </li>
      <li class="breadcrumb-item">
        Service Instance
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{model.service.name}}
      </li>
    </ol>
  </nav>
  <div class="container">
    {{outlet}}
  </div>
</ServiceInstanceSidebar>

