<MainSidebar>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Agents
      </li>
    </ol>
  </nav>
  
  <div class="container">
    {{outlet}}
  </div>
</MainSidebar>
