<BsModal @size="sm" @fade={{false}} @backdropClose={{false}} @onHide={{false}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title">Confirming Email Address</h4>
  </Modal.header>
  <Modal.body>
    Confirming email address..
  </Modal.body>
</BsModal>
