<MainSidebar>
  <div class="container">
    <h2>Services</h2>
    
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        {{#each model as |service|}}
          <tr>
            <td>
              {{#link-to "service" service}}{{service.displayName}}{{/link-to}}
            </td>
            <td>{{service.description}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{outlet}}
</MainSidebar>
